### Python ###
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
